Django==1.6.5
South==1.0
geopy==1.0.1
psycopg2==2.5.3
requests==2.3.0
wsgiref==0.1.2
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.1.0
pystache==0.5.4
static==1.0.2
static3==0.5.1