{% load widget_tweaks %}
{% block content %}
{% load i18n %}

<style>
.errorlist {
    color: red;
}
</style>

<script>
$(document).ready(function(){

    $("#edit_loc_new_loading").hide();
        
    function block_form() {
        $("#edit_loc_new_loading").show();
        $('textarea').attr('disabled', 'disabled');
        $('input').attr('disabled', 'disabled');
        $('#edit_submit_button').attr('disabled', true);
    }

    function unblock_form() {
        $("#edit_loc_new_loading").hide();
        $('textarea').removeAttr('disabled');
        $('input').removeAttr('disabled');
        $('#edit_submit_button').removeAttr('disabled');
        $('.errorlist').remove();
    }

    $('#location_new_form').submit(function(e){
        $.ajax({
            type: $(this).attr('method'),
            data: $(this).serialize(), //get the form data
            url: $(this).attr('action'),
            success: function(response) {
                unblock_form();
                var location_id = response.location_id;
                var div_id = "location_" + location_id + "_wrapper"
                var new_location = "<li><div id='" + div_id + "' /></li>"
                $('#locations_list').append(new_location);
                $('#'+div_id).load("/location/"+location_id+"/"); 
                $("#add_location_wrapper").hide();
                $("#add_location_link").show();
            },
            error: function(response) {
                unblock_form();
                $("#location_new_error").show();
                // render errors in form fields
                var errors = JSON.parse(response.responseText);
                for (error in errors){
                    var id="#id_"+error;
                    $(id).closest('.form-group').prepend(errors[error]);
                }
            },
        })
        $("#edit_loc_new_loading").show();
        block_form();
        e.preventDefault();
    });
}) 
</script>

<form id="location_new_form" class="edit-form" role="form" action="/provider/{{provider_id}}/new_location/" method='post'>
<div id="ajaxwrapper">
{% csrf_token %}

{% if location_form.errors %}
    {% for field in location_form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                {% trans field.label %} - {% trans error|escape %}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in location_form.non_field_errors %}
        <div class="alert alert-error">
            {% trans error|escape %}
        </div>
    {% endfor %}
{% endif %}

<div class="location-form dynamic-form" id="{{ location_form.prefix }}-row">
    <div {% if forloop.first %} class="hidden"{% endif %}> {{ location_form.operand }}</div>

        <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label>{% trans "Address" %}</label>
        {% render_field location_form.address class+="form-control" required="true" placeholder="Street, City, State, and Zipcode" %}
    </div>

    <div class="checkbox{% if field.errors %} has-error{% endif %}">
        <label>{% trans "This location is our main office" %}
        {% render_field location_form.is_headquarters %}
        </label>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label>{% trans "Primary Contact's Name" %}</label>
        <div class="row">
            <div class="col-xs-6">
                {% render_field location_form.POC_firstname class+="form-control" required="true" placeholder="First Name" %}
            </div>
            <div class="col-xs-6">
                {% render_field location_form.POC_lastname class+="form-control" required="true" placeholder="Last Name" %}
            </div>
        </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label>{% trans "Phone Number" %}</label>
        {% render_field location_form.phone class+="form-control" required="true" placeholder="(000) 000-0000" %}
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label>{% trans "Hours of Operation" %}</label>
        {% render_field location_form.hours_open class+="form-control" required="true" placeholder="M-F, 8am-4pm" %}
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label>{% trans 'Resources Available' %}</label>
        {% render_field location_form.resources_available %}
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label>{% trans 'Resources Needed' %}</label>
        {% render_field location_form.resources_needed %}
    </div>

    <div class="form-group">
        <div>
            <button id="edit_submit_button" class="btn btn-primary" type="submit" value="Submit">{% trans "Save" %}</button>
            <span id="edit_loc_new_loading" class="display:none;">{% trans "Saving profile, please wait." %}</span>
            <span id="location_new_error" style="display:none; color:red;">{% trans "The form has errors." %}</span>
        </div>
    </div>

</div>
</form>

{% endblock %}