{% extends "base.html" %}
{% load i18n %}

{% block content %}
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<section class="signup-form">
	<h1>{% trans "Organization Profile" %}</h1>
	<div class="signup-form--section row">
        <div class="col-sm-3">
            <h2>{% trans "Profile" %}</h2>
        </div>
        <div class="col-sm-6 col-sm-offset-1">
			<div id="provider_wrapper">
				{% include "provider/provider_profile.html" with provider=provider %}
			</div>
			{% if can_edit %}
			<div id="provider_edit_link">
				<a class="btn btn-default" href='javascript:void(0)' id="edit_provider_link"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a>

			</div>
			{% endif %}
		</div>
	</div>

    <div class="signup-form--section row">
        <div class="col-sm-3">
            <h2>{% trans "Location" %}</h2>
        </div>
        <div class="location-form col-sm-6 col-sm-offset-1" id="{{ location_form.prefix }}-row">
			{% for location in locations %}
				{% if can_edit %}
					<div id="location_{{location.id}}_links">
						<a class="btn btn-default" href='javascript:void(0)' id="edit_location_{{location.id}}_link"><span class="glyphicon glyphicon-pencil"></span> {% trans "Edit" %}</a>
						<a class="btn btn-danger" href='javascript:void(0)' id="delete_location_{{location.id}}_link"><span class="glyphicon glyphicon-trash"></span> {% trans "Delete" %}</a>
					</div>
					<div id="location_{{location.id}}_wrapper">
						{% include "location/profile.html" with current_location=location %}
					</div>
				{% endif %}
			{% endfor %}
			
			{% if can_edit %}
			<div id="add_location_link">
				<a class="btn btn-primary" href="javascript:void(0)" id="new_location_link"><span class="glyphicon glyphicon-plus"></span> {% trans "Add location" %}</a>
			</div>
			<div id="add_location_wrapper" style="display:none">
			{% endif %}
		</div>
    </div>


</section>
{% endblock %}


{% block script %}
<script>
	$(document).ready(function(){

		$("#edit_provider_link").click(function(e){
			$("#provider_wrapper").load("{% url 'edit_provider' provider.id %}");
			e.preventDefault();
		})

		$("#new_location_link").click(function(e){
			$("#add_location_wrapper").load("{% url 'new_location' provider.id %}");
			$("#add_location_wrapper").show();
			$("#add_location_link").hide();
		})
	})

</script>
{% endblock %}