{% extends "base.html" %}
{% load i18n %}

{% block content %}

<h2>{% trans "Profile page" %}</h2>

<h1>{% trans "Organization info" %}</h1>
{% if can_edit %}
	<div id="provider_edit_link">
		<a href='javascript:void(0)' id="edit_provider_link">({% trans "Edit" %})</a>
	</div>
{% endif %}
<div id="provider_wrapper">
{% include "provider/provider_profile.html" with provider=provider %}
</div>

<h1>{% trans "Locations info" %}</h1>
	<ol id="locations_list">
{% for location in locations %}
	<li>
		{% if can_edit %}
			<div id="location_{{location.id}}_links">
				<a href='javascript:void(0)' id="edit_location_{{location.id}}_link">({% trans "edit" %})</a>
				<a href='javascript:void(0)' id="delete_location_{{location.id}}_link">({% trans "delete" %})</a>
			</div>
			<div id="location_{{location.id}}_wrapper">
				{% include "location/profile.html" with current_location=location %}
			</div>
		{% endif %}
	</li>
{% endfor %}
</ol>
	{% if can_edit %}
<div id="add_location_link">
	<a href="javascript:void(0)" id="new_location_link">{% trans "Add location" %}</a>
</div>
<div id="add_location_wrapper" style="display:none">
	{% endif %}
</div>

{% endblock %}


{% block script %}
<script>
	$(document).ready(function(){

		$("#edit_provider_link").click(function(e){
			$("#provider_wrapper").load("{% url 'edit_provider' provider.id %}");
			e.preventDefault();
		})

		$("#new_location_link").click(function(e){
			$("#add_location_wrapper").load("{% url 'new_location' provider.id %}");
			$("#add_location_wrapper").show();
			$("#add_location_link").hide();
		})
	})

</script>
{% endblock %}