{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<h1>Edit Organization Profile</h1>
<a style="color:black;" href="{% url 'delete_provider' provider.id %}">Delete</a>


<form class="form-horizontal" role="form" action='.' method='post'>
{% csrf_token %}

{% if password_change_form.errors %}
    {% for field in password_change_form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                {{ field.label }} - {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in password_change_form.non_field_errors %}
        <div class="alert alert-error">
            {{ error|escape }}
        </div>
    {% endfor %}
{% endif %}

{% if provider_form.errors %}
    {% for field in provider_form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                {{ field.label }} - {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in provider_form.non_field_errors %}
        <div class="alert alert-error">
            {{ error|escape }}
        </div>
    {% endfor %}
{% endif %}

{% for location_form in location_formset %}
    {% if location_form.errors %}
        {% for field in location_form %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    {{ field.label }} - {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in location_form.non_field_errors %}
            <div class="alert alert-error">
                {{ error|escape }}
            </div>
        {% endfor %}
    {% endif %}
{% endfor %}

<h2>Login information</h2>
<div class="admin-form">

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ password_change_form.old_password.auto_id }}">
    	{{ password_change_form.old_password.label }}
    </label>
    <div>
    {% render_field password_change_form.old_password class+="form-control" %}
    </div>
    </div>


    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ password_change_form.new_password1.auto_id }}">
    	{{ password_change_form.new_password1.label }}
    </label>
    <div>
    {% render_field password_change_form.new_password1 class+="form-control" %}
    </div>
    </div>


    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ password_change_form.new_password2.auto_id }}">
    	{{ password_change_form.new_password2.label }}
    </label>
    <div>
    {% render_field password_change_form.new_password2 class+="form-control" %}
    </div>
    </div>

</div>
<h2>Organization information</h2>
<div class="provider-form">

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ provider_form.name.auto_id }}">
    	{{ provider_form.name.label }}
    </label>
    <div>
    {% render_field provider_form.name class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ provider_form.logo.auto_id }}">
    	{{ provider_form.logo.label }}
    </label>
    <div>
    {% render_field provider_form.logo type="file" onchange="readURL(this);" %}
    <img id="logo" src="#" alt="logo" style="display:none;" />
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ provider_form.URL.auto_id }}">
    	{{ provider_form.URL.label }}
    </label>
    <div>
    {% render_field provider_form.URL type="URL" class+="form-control" %}
    </div>
    </div>

</div>

<h1>Locations</h1>
<div class="location-formset">

{% for location_form in location_formset %}
<div class="location-form dynamic-form" id="{{ location_form.prefix }}-row">
    <h3>Location information</h3>
    <div {% if forloop.first %} class="hidden"{% endif %}> {{ location_form.operand }}</div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.POC_firstname.auto_id }}">
        {{ location_form.POC_firstname.label }}
    </label>
    <div>
    {% render_field location_form.POC_firstname class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.POC_firstname2.auto_id }}">
        {{ location_form.POC_firstname2.label }}
    </label>
    <div>
    {% render_field location_form.POC_firstname2 class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.POC_lastname.auto_id }}">
        {{ location_form.POC_lastname.label }}
    </label>
    <div>
    {% render_field location_form.POC_lastname class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.POC_lastname2.auto_id }}">
        {{ location_form.POC_lastname2.label }}
    </label>
    <div>
    {% render_field location_form.POC_lastname2 class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.address.auto_id }}">
        {{ location_form.address.label }}
    </label>
    <div>
    {% render_field location_form.address class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.latitude.auto_id }}">
        {{ location_form.latitude.label }}
    </label>
    <div>
    {% render_field location_form.latitude class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.longitude.auto_id }}">
        {{ location_form.longitude.label }}
    </label>
    <div>
    {% render_field location_form.longitude class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.phone.auto_id }}">
        {{ location_form.phone.label }}
    </label>
    <div>
    {% render_field location_form.phone class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.is_headquarters.auto_id }}">
        {{ location_form.is_headquarters.label }}
    </label>
    <div>
    {% render_field location_form.is_headquarters class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.hours_open.auto_id }}">
        {{ location_form.hours_open.label }}
    </label>
    <div>
    {% render_field location_form.hours_open class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.resources_needed.auto_id }}">
        {{ location_form.resources_needed.label }}
    </label>
    <div>
    {% render_field location_form.resources_needed class+="form-control" %}
    </div>
    </div>

    <div class="form-group{% if field.errors %} has-error{% endif %}">
    <label class="control-label" for="{{ location_form.resources_available.auto_id }}">
        {{ location_form.resources_available.label }}
    </label>
    <div>
    {% render_field location_form.resources_available class+="form-control" %}
    </div>
    </div>
   
    
    <div {% if forloop.first %} class="hidden"{% endif %}>
        <a style="color:black" id="remove-{{ location_form.prefix }}-row" href="javascript:void(0)" class="delete-row">Remove location</a>
    </div>

    <hr>
</div>

{% endfor %}
<div><a style="color:black" href="javascript:void(0)" class="add-row">Add Location</a></div>

{{ location_formset.management_form }}
</div>
           
<div class="form-group">
	<div>
		<button class="btn btn-default" type="submit" value="Submit">Save</button>
	</div>
</div>

</form>

{% endblock %}