{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

<section class="organization-form">

    <div class="form-errors">

        {% if admin_form.errors %}
            {% for field in admin_form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        {% trans field.label %} - {% trans error|escape %}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in admin_form.non_field_errors %}
                <div class="alert alert-error">
                    {% trans error|escape %}
                </div>
            {% endfor %}
        {% endif %}

        {% if provider_form.errors %}
            {% for field in provider_form %}
                {% for error in field.errors %}
                    <div class="alert alert-error">
                        {% trans field.label %} - {% trans error|escape %}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in provider_form.non_field_errors %}
                <div class="alert alert-error">
                    {% trans error|escape %}
                </div>
            {% endfor %}
        {% endif %}

        {% for location_form in location_formset %}
            {% if location_form.errors %}
                {% for field in location_form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error">
                            {% trans field.label %} - {% trans error|escape %}
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in location_form.non_field_errors %}
                    <div class="alert alert-error">
                        {% trans error|escape %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}

    </div>

    <h1>{% trans "Create a new organization account" %}</h1>
    
    <form role="form" action='.' method='post'>
        {% csrf_token %}
    <div class="organization-form--section row">
        <div class="col-sm-4">
            <h2>{% trans "Organization Profile" %}</h2>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
            <div class="admin-form">
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Organization Name" %}</label>
                    <span class="required">*</span>
                    {% render_field provider_form.name class+="form-control" %}
                </div>
                
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Organization Website" %}</label>
                    <span class="required">*</span>
                    {% render_field provider_form.URL class+="form-control" placeholder+="http://" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Contact Email" %}</label>
                    <span class="required">*</span>
                    {% render_field admin_form.username class+="form-control "%}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Password" %}</label>
                    <span class="required">*</span>
                    {% render_field admin_form.password1 class+="form-control" %}
                </div>

                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label>{% trans "Retype password" %}</label>
                    <span class="required">*</span>
                    {% render_field admin_form.password2 class+="form-control" %}
                </div>
            </div>
        </div>
    </div>

    <div class="dynamic-form organization-form--section row">
        <div class="col-sm-4">
            <h2>{% trans "Location" %}</h2>
        </div>
        
        <div class="location-form col-sm-5 col-sm-offset-1" id="{{ location_form.prefix }}-row">
        {% for location_form in location_formset %}

            <div {% if forloop.first %} class="hidden"{% endif %}> {{ location_form.operand }}</div>
            
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label>{% trans "Address" %}</label>
                <span class="required">*</span>
                {% render_field location_form.address class+="form-control" %}
            </div>

            <div class="checkbox{% if field.errors %} has-error{% endif %}">
                <label>{% trans "This location is our main office" %}
                {% render_field location_form.is_headquarters %}
                </label>
            </div>
            
            <div class="form-group{% if field.errors %} has-error{% endif %}"> 
                <label>{% trans "Primary Contact's Name" %}</label>
                <span class="required">*</span>
                <div class="row">
                    <div class="col-xs-6">
                        {% render_field location_form.POC_firstname class+="form-control" %}
                    </div>
                    <div class="col-xs-6">
                        {% render_field location_form.POC_lastname class+="form-control" %}
                    </div>
                </div>
            </div>

            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label>{% trans "Phone" %}</label>
                <span class="required">*</span>
                {% render_field location_form.phone class+="form-control" %}
            </div>
            
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label>{% trans "Hours of operation" %}</label>
                <span class="required">*</span>
                {% render_field location_form.hours_open class+="form-control" %}
            </div>

            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label>{% trans 'Resources needed (hold "Ctrl" or "⌘" to select more than one)' %}</label>
                {% render_field location_form.resources_needed class+="form-control" size="13" %}
            </div>

            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label>{% trans 'Resources available (hold "Ctrl" or "⌘" to select more than one)' %}</label>
                {% render_field location_form.resources_available class+="form-control" size="13" %}
            </div>
   
        </div>
        
        <div {% if forloop.first %} class="hidden col-sm-5 col-sm-offset-5"{% endif %}>
            <button id="remove-{{ location_form.prefix }}-row" type="button" class="delete-row btn btn-danger btn-lg btn-block">{% trans "Remove this Location" %}</button>
        </div>

        {% endfor %}
    </div>

<div>

{{ location_formset.management_form }}
</div>

<div class="form-group organization-form--section">
    <div class="col-sm-4">
        <h2>{% trans "Finish Up" %}</h2>
    </div>
    <div class="col-sm-5 col-sm-offset-1 button-group">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="add-row btn btn-default btn-lg btn-block">{% trans "Add another Location" %}</button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primary btn-lg btn-block" type="submit" value="Submit">{% trans "Register Now" %}</button>
            </div>
        <div>
    </div>
</div>

</form>
</section>
{% endblock %}