{#% extends "base.html" %#}
{% load widget_tweaks %}
{% load i18n %}
{% block content %}

<style>
.errorlist {
    color: red;
}
</style>

<script>
$(function() {

    $("#edit_provider_loading").hide();
    
	function block_form() {
        $("#edit_provider_loading").show();
        $('textarea').attr('disabled', 'disabled');
        $('input').attr('disabled', 'disabled');
        $('#edit_submit_button').attr('disabled', true);
    }

    function unblock_form() {
        $("#edit_provider_loading").hide();
        $('textarea').removeAttr('disabled');
        $('input').removeAttr('disabled');
        $('#edit_submit_button').removeAttr('disabled');
        $('.errorlist').remove();
    }

	$('#provider_edit_form').submit(function(e){
		$.ajax({
			type: $(this).attr('method'),
			data: $(this).serialize(), //get the form data
			url: $(this).attr('action'),
			success: function(response) {
				unblock_form();
				$('#provider_wrapper').load("/provider/{{provider_id}}/org_profile/");
			},
			error: function(response) {
				unblock_form();
				$("#edit_provider_error").show();
                // render errors in form fields
                var errors = JSON.parse(response.responseText);
                for (error in errors){
                    var id="#id_"+error;
                    $(id).closest('.form-group').prepend(errors[error]);
                }
			},
		})
        block_form();
		e.preventDefault();
	});
})
</script>

<form id="provider_edit_form" class="form-horizontal" role="form" action="/provider/{{provider_id}}/edit/" method='post'>
<div id="ajaxwrapper">
{% csrf_token %}

{% if provider_form.errors %}
    {% for field in provider_form %}
        {% for error in field.errors %}
            <div class="alert alert-error">
                {% trans field.label %} - {% trans error|escape %}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in provider_form.non_field_errors %}
        <div class="alert alert-error">
            {% trans error|escape %}
        </div>
    {% endfor %}
{% endif %}

<div class="form-group" id="div_{{ provider_form.name.auto_id }}">
    <label>{% trans "Organization Name" %}</label>
    {% render_field provider_form.name class+="form-control" %}
</div>

<div class="form-group" id="div_{{ provider_form.URL.auto_id }}">
    <label>{% trans "Organization Website" %}</label>
    {% render_field provider_form.URL type="URL" class+="form-control" %}
</div>

<div class="form-group">
	<div>
		<button id="edit_submit_button" class="btn btn-default" type="submit" value="Submit">{% trans "Save" %}</button>
		<span id="edit_provider_loading" class="display:none;">{% trans "Saving profile, please wait." %}</span>
        <span id="edit_provider_error" style="display:none; color:red;">{% trans "The form has errors." %}</span>
	</div>
</div>

</div>
</form>

{% endblock %}