@import "bootstrap-theme";
@import "bootstrap";
@import "modules/chosen";

@import "mixins/animations";
@import "mixins/polyfills";

/* Overrides */
@import "modules/btn";
@import "modules/navbar";
@import "modules/tooltip";

@import "modules/footer";
@import "modules/forms/login-form";
@import "modules/forms/organization-form";
@import "modules/intro";
@import "modules/landing";

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

a {
    color: $brand-primary;
}

a:hover,
a:focus {
    color: $brand-primary;
}

/* Resources page */

.result_card {
    border-radius: 3px;
    padding: 15px;
    margin-bottom: 1em;
    background-color: #eee;
}

#map-canvas {
    height: 100%;
}
