@import "bootstrap-theme";
@import "bootstrap";
@import "modules/chosen";

@import "mixins/animations";
@import "mixins/polyfills";

/* Overrides */
@import "modules/btn";
@import "modules/chosen-overrides";
@import "modules/form-control";
@import "modules/navbar";
@import "modules/tooltip";

@import "modules/footer";
@import "modules/forms/login-form";
@import "modules/forms/organization-form";
@import "modules/forms/resource-form";
@import "modules/forms/signup-form";
@import "modules/intro";
@import "modules/landing";

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

a {
    color: $brand-primary;
}

a:hover,
a:focus {
    color: $brand-primary;
}
