{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}

<h1>Volunteer Signup</h1>
<form class="form-horizontal" role="form" action='.' method='post'>
{% csrf_token %}

<div class="form-errors">

	{% if user_form.errors %}
	    {% for field in user_form %}
	        {% for error in field.errors %}
	            <div class="alert alert-error">
	                {{ field.label }} - {{ error|escape }}</strong>
	            </div>
	        {% endfor %}
	    {% endfor %}
	    {% for error in user_form.non_field_errors %}
	        <div class="alert alert-error">
	            {{ error|escape }}
	        </div>
	    {% endfor %}
	{% endif %}

	{% if profile_form.errors %}
	    {% for field in profile_form %}
	        {% for error in field.errors %}
	            <div class="alert alert-error">
	                {{ field.label }} - {{ error|escape }}
	            </div>
	        {% endfor %}
	    {% endfor %}
	    {% for error in profile_form.non_field_errors %}
	        <div class="alert alert-error">
	            {{ error|escape }}
	        </div>
	    {% endfor %}
	{% endif %}

</div>

<div class="admin-form">

	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>First name</label>
	<div>
	{% render_field profile_form.first_name %}
	</div>
	</div>

	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>Last name</label>
	<div>
	{% render_field profile_form.last_name %}
	</div>
	</div>


	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>Email</label>
	<div>
	{% render_field profile_form.email %}
	</div>
	</div>


	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>Phone</label>
	<div>
	{% render_field profile_form.phone %}
	</div>
	</div>

	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>Address</label>
	<div>
	{% render_field profile_form.address %}
	</div>
	</div>


	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>I can help by providing:</label>
	<div>
	{% render_field profile_form.has_resources %}
	</div>
	</div>

	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>If other, what can you provide?</label>
	<div>
	{% render_field profile_form.other %}
	</div>
	</div>


</div>




	<hr>
</div>


<div class="form-group">
	<div>
		<button class="btn btn-default" type="submit" value="Submit">Register</button>
	</div>
</div>

</form>

{% endblock %}