{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

<h1>{% trans "Volunteer Signup" %}</h1>

<form class="form-horizontal" role="form" action='.' method='post'>
{% csrf_token %}

<div class="form-errors">

	{% if user_form.errors %}
	    {% for field in user_form %}
	        {% for error in field.errors %}
	            <div class="alert alert-error">
	                {% trans field.label %} - {% trans error|escape %}</strong>
	            </div>
	        {% endfor %}
	    {% endfor %}
	    {% for error in user_form.non_field_errors %}
	        <div class="alert alert-error">
	            {% trans error|escape %}
	        </div>
	    {% endfor %}
	{% endif %}

	{% if profile_form.errors %}
	    {% for field in profile_form %}
	        {% for error in field.errors %}
	            <div class="alert alert-error">
	                {% trans field.label %} - {% trans error|escape %}
	            </div>
	        {% endfor %}
	    {% endfor %}
	    {% for error in profile_form.non_field_errors %}
	        <div class="alert alert-error">
	            {% trans error|escape %}
	        </div>
	    {% endfor %}
	{% endif %}

</div>

<div class="admin-form">

	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>{% trans "First name" %}</label>
    <span class="required">*</span>
	<div>
	{% render_field profile_form.first_name %}
	</div>
	</div>

	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>{% trans "Last name" %}</label>
    <span class="required">*</span>
	<div>
	{% render_field profile_form.last_name %}
	</div>
	</div>


	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>{% trans "Email" %}</label>
    <span class="required">*</span>
	<div>
	{% render_field profile_form.email %}
	</div>
	</div>


	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>{% trans "Phone" %}</label>
    <span class="required">*</span>
	<div>
	{% render_field profile_form.phone %}
	</div>
	</div>

	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>{% trans "Address" %}</label>
    <span class="required">*</span>
	<div>
	{% render_field profile_form.address %}
	</div>
	</div>


	<div class="form-group{% if field.errors %} has-error{% endif %}">
        
	<label>{% trans "I can help by providing:" %}</label>
    <span class="required">*</span>
	<div>
	{% render_field profile_form.has_resources %}
	</div>
	</div>

	<div class="form-group{% if field.errors %} has-error{% endif %}">
	<label>{% trans "If other, what can you provide?" %}</label>
	<div>
	{% render_field profile_form.other %}
	</div>
	</div>




</div>
<div class="explain-required">
    {% trans 'Fields marked with <span class="required">*</span> are required' %}
</div>
	<hr>
</div>



<div class="form-group">
	<div>
		<button class="btn btn-default" type="submit" value="Submit">{% trans "Register" %}</button>
	</div>
</div>

</form>

{% endblock %}