{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<h1>About</h1>

<div class="row">
	<div class="col-md-6">
		<h2>Buscando</h2>
		<p>Officials expect 90,000 Central American children to enter the United States seeking refuge from violence this year. We have a humanitarian responsibility to provide family-based care for vulnerable children, wherever they come from. These children need to be with families that care, not institutionalized in barracks. The top priority is reunification of refugee children with family members here in the US. Where this is not possible, we need to place children in the federal foster care system.</p>

		<p> Wherever they are placed, they will need access to the resources available in their communities. The issue is so large that no one organization, including the US government, can manage it alone. It requires the combined resources of a multitude of community service, faith-based, and government organizations to provide care for these refugee children.</p>

		<p>This is why a collective of DC-area technologists have created Buscando, a place for community service organizations and host families for the child refugees of Central America to meet local needs with local services.</p>
	</div>
	<div class="col-md-3">
		<figure>
			<a href="http://instagram.com/p/q6780oSQZk/">
				<img class="img-responsive" src="{% static 'img/buscando-brainstorm.jpg' %}" alt="Brainstorm session for Buscano at DC Techlady Hackathon"/>
			</a>
			<figcaption>
				Brainstorm session for Buscando at DC Techlady Hackathon
			</figcaption>
		</figure>
	</div>
	<div class="col-md-3">
		<figure>
			<a href="http://instagram.com/p/q7Kw86SQWJ/">
				<img class="img-responsive" src="{% static 'img/buscando-wireframes.jpg' %}" alt="Set of wireframes in progess for the app"/>
			</a>
			<figcaption>
				Set of wireframes in progress for the app
			</figcaption>
		</figure>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>Contact</h2>
		<p> Email Community Task Force at questions@taskforce.org or call at 202-555-1234 <a href="">Learn more about us </a> </p>
	</div>
</div>

{% endblock %}
