{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<h1>{% trans "About" %}</h1>

<div class="row">
	<div class="col-md-6">
<br>

<i><p>{% trans "Buscando is the place where needs meet services." %}</p>
<p>{% trans "Here volunteer families in Maryland and the children seeking refuge from violence in Central America connect with local community organizations and resources." %}</p></i>

<p>{% trans "In 2014, an estimated 30,000 Central American children seeking refuge from violence in their home countries have arrived in the United States. As a state and a nation, we have a humanitarian responsibility to provide family-based care for vulnerable children, wherever they come from. These children deserve the chance to learn, to feel safe at night, and to live the life of a kid while they go through this unique federal legal process." %}</p>

<p>{% trans "Through July 31, there have been 2,804 children placed with sponsors living in Maryland. This represents roughly 7.5 percent of the total number of children who have been released to sponsors throughout the United States, a larger than normal share due to Maryland’s large population of immigrants from El Salvador, Guatemala, and Honduras. Governor O’Malley has called on the people of Maryland to come together and ensure these children have their basic human needs met, have a safe home environment and the resources they need while they go through the next steps in the federal process." %}</p> 

<p>{% trans "To answer that call, a collective of D.C.-area technologists created Buscando, the primary technological tool to support the coordination of efforts across communities, partnering individual, community groups and state government departments to care for the children when they arrive in Maryland. Buscando is the bridge between organizations with capacity and the children who need assistance." %}</p>

<p>{% trans "While this is a federally managed program and we do not know how many additional children will arrive in the coming months, we do know these children and the families who provide them care have additional needs that can be met on the local level. Wherever they are placed, these children will need with food and clothing, legal services for immigration proceedings, access to health care and other basic human needs." %}</p>

<p>{% trans "We are honored to be playing a role in matching the expertise and compassion that Maryland has in such abundance with the needs of these brave children who are fleeing from brutal drug cartels, gangs and corrupt police forces." %}</p>

<p>{% trans "No one person or group is the answer. We must all work together to meet this challenge. Together with 2-1-1 Maryland and other public and private partners, Buscando will help us ensure that the children and the families that are taking them in have the support, resources and answers they so that these children can enjoy the joys of being children once again." %}</p>


<br><a id="whobuilt"></a><h1>{% trans "Who built Buscando?" %}</h1>

<p><br>{% blocktrans %}Buscando was built entirely by volunteer technologists associated with <a href="http://www.hearmecode.com">HearMeCode</a>, <a href="http://www.techladyhackathon.org">TechLadyHackathon</a>, and <a href="http://www.codeforprogress.org">Code for Progress</a> - organizations working to build the power of women, people of color, and low-income people in the tech industry.{% endblocktrans %}

<div class="col-md-6">
<br><b><p>{% trans "Researchers" %}</b>
<br><a href="http://www.linkedin.com/in/reginalam">Regina Lam</a>
<br><a href="http://www.github.com/shinson">Sonia Hinson</a>
<br><a href="https://www.linkedin.com/in/jeanmfoster">Jean Foster</a>
<br><a href="http://www.github.com/dagobailon">Dago Bailon</a></p>

<br><b><p>{% trans "Content writer - Spanish" %}</b>
<br><a href="https://www.linkedin.com/in/monicamarcano">Monica Marcano Boos</a></p>

<br><b><p>{% trans "Content writers - English" %}</b>
<br><a href="http://www.linkedin.com/in/clairebalani/">Claire Balani</a>
<br><a href="https://github.com/kilbergr">Rebecca Kilberg</a></p>

<br><b><p>{% trans "Testers" %}</b>
<br><a href="https://github.com/JessicaGarson">Jessica Garson</a>
<br><a href="http://www.linkedin.com/in/reginalam">Regina Lam</a>
<br><a href="http://www.lucianamorais.com">Luciana Morais</a>
<br><a href="https://www.linkedin.com/in/monicamarcano">Monica Marcano Boos</a></p>
</div>

<div class="col-md-6">
<br><b><p>{% trans "Front-end developers" %}</b>
<br><a href="https://github.com/heyitsolivia">Olivia Cheng</a>
<br><a href="https://github.com/janrubio">Jan Rubio</a></p>

<br><b><p>{% trans "Back-end developers" %}</b>
<br><a href="http://shannonvturner.com">Shannon Turner</a>
<br>Rita Zevallos
<br><a href="http://www.github.com/aliyarahman">Aliya Rahman</a>
<br><a href="https://github.com/rshorey">Rachel Shorey</a></p>


<br><b><p>{% trans "Database programmers" %}</b>
<br><a href="https://github.com/rshorey">Rachel Shorey</a>
<br><a href="http://github.com/kpazoles">Kate Pazoles</a>
<br><a href="https://github.com/JessicaGarson">Jessica Garson</a>
<br>Dirk Wiggins
<br><a href="https://github.com/angiebrilliance">Angie Brilliance</a></p>


<br><b><p>{% trans "Project managers" %}</b>
<br><a href="http://www.linkedin.com/pub/bridgit-donnelly/10/a5/77a">Bridgit Donnelly</a>
<br><a href="http://www.github.com/aureamartinez">Aurea Martinez</a>
<br><a href="https://www.linkedin.com/pub/anupama-pillalamarri/5/997/72a">Anupama Pillalamarri</a>
<br><a href="http://www.github.com/aliyarahman">Aliya Rahman</a></p> 
<br><br></div>



<h1>{% trans "Frequently Asked Questions" %}</h1>
<br><b><p>{% trans "What is the Maryland government's role with this program?" %}</b>
<br>{% trans "The State of Maryland is helping to connect sponsor families with basic needs such as food and clothing, healthcare and legal assistance to service providers who are able to help." %}</p>

<br><b><p>{% trans "Can the child in my care receive health care?" %}</b>
<br>{% trans "Yes. There are many clinics that offer health services at reduced costs to anyone, regardless of immigration status.  You can find clinics near you through the Buscando search page." %}</p>

<br><b><p>{% trans "Is the child in my care eligible for public benefits?" %}</b>
<br>{% trans "In some cases, children seeking refuge may qualify for some public benefits like Medical Assistance.  Please call 410-558-3175 for more information." %}</p> 

<br><b><p>{% trans "Can the child in my care be enrolled in school?" %}</b>
<br>{% trans "Yes. According to the United States Department of Education, all children are entitled to equal access to a public elementary and secondary education, regardless of their or their parents’ actual or perceived national origin, citizenship, or immigration status. This includes recently arrived unaccompanied children who are in immigration proceedings while residing in local communities with a parent, family member, or other appropriate adult sponsor." %}</p>

<br><b><p>{% trans "I'm worried about fraud. Do we have to pay for reunification and legal services?" %}</b>
<br>{% trans "There are many community organizations that can assist sponsor families with completing reunification packets and legal services at reduced or no cost. You may choose to work through a private attorney, but be aware that there are some individuals who may try to take advantage of you and charge large fees.  The organizations listed on this site can advise you on the availability of free or reduced cost legal assistance." %}</p>

<br><br>




<h1>{% trans "More resources" %}</h1>
<br><b><p>{% trans "Federal Response" %}</b>
<ul><li><a href="http://www.whitehouse.gov/the-press-office/2014/06/20/fact-sheet-unaccompanied-children-central-america">FACT SHEET: Unaccompanied Children from Central America</a> (White House, 6/20/2014)</li></ul></p>
 

<b><p>{% trans "Education" %}</b>
<ul><li><a href="http://www2.ed.gov/policy/rights/guid/unaccompanied-children.pdf">Educational Services for Immigrant Children and Those Recently Arrived to the United States</a> (U.S. Department of Education, 8/11/2014)</li>
 
<li><a href="http://www.ed.gov/news/press-releases/secretary-duncan-and-attorney-general-holder-issue-guidance-school-districts-ens">Secretary Duncan and Attorney General Holder Issue Guidance for School Districts to Ensure Equal Access for All Children to Public Schools, Regardless of Immigration Status</a> (U.S. Department of Education, 5/8/2014)</li></ul></p>
 

<b><p>{% trans "Housing and Health" %}</b>
<ul><li><a href="http://www.acf.hhs.gov/programs/orr/programs/ucs/state-by-state-uc-placed-sponsors">Unaccompanied Children Released to Sponsors By State</a> (U.S. Health and Human Services’ Office of Refugee Resettlement)</li>

<li><a href="http://www.acf.hhs.gov/programs/orr/programs/ucs/about#FAQs">About Unaccompanied Children's Services</a> (U.S. Health and Human Services’ Office of Refugee Resettlement)</li>

<li><a href="http://www.acf.hhs.gov/unaccompanied-children-frequently-asked-questions">Unaccompanied Children Frequently Asked Questions</a> (U.S. Health and Human Services’ Administration for Children and Families)</li>

<li><a href="http://www.acf.hhs.gov/sites/default/files/orr/unaccompanied_childrens_services_fact_sheet.pdf">Fact Sheet</a> (U.S. Health and Human Services’ Administration for Children and Families)</li></ul></p>


<b><p>{% trans "Security" %}</b>
<ul><li><a href="http://www.mass.gov/governor/docs/uac-frequently-asked-questions.pdf">Frequently Asked Questions for Unaccompanied Alien Children</a> (U.S. Department of Homeland Security, 7/3/2014)</li>
<li><a href="http://www.cbp.gov/newsroom/stats/southwest-border-unaccompanied-children">Southwest Border Unaccompanied Alien Children</a> (U.S. Customs and Border Protection)</li></ul></p>
 
<b><p>{% trans "Legal" %}</b>
<ul><li><a href="http://fas.org/sgp/crs/homesec/R43623.pdf">Unaccompanied Alien Children—Legal Issues: Answers to Frequently Asked Questions</a> (Congressional Research Service, 7/18/2014)</li></ul> </p>


<br><br><br>
</div>
	


	<div class="col-md-3">
		<figure>
			<a href="http://instagram.com/p/q6780oSQZk/">
				<img class="img-responsive" src="{% static 'img/buscando-brainstorm.jpg' %}" alt="{% trans "Brainstorm session for Buscano at DC Techlady Hackathon" %}"/>
			</a>
			<figcaption>
				{% trans "Brainstorm session for Buscando at " %}<a href="http://techladyhackathon.org/">{% trans "DC Techlady Hackathon" %}<a>
			</figcaption>
		</figure>
	</div>
	<div class="col-md-3">
		<figure>
			<a href="http://instagram.com/p/q7Kw86SQWJ/">
				<img class="img-responsive" src="{% static 'img/buscando-wireframes.jpg' %}" alt="{% trans "Set of wireframes in progess for the app" %}"/>
			</a>
			<figcaption>
				{% trans "Set of wireframes in progress for the app" %}
			</figcaption>
		</figure>
	</div>
	<div class="col-md-6">
		<br><br>
		<h3>{% trans "Buscando is an open-source project" %}</h3>
		<p><a href="#whobuilt">{% trans "Learn more about who built it" %}</a>, {% trans "or" %} <a href="http://www.github.com/aliyarahman/buscando">{% trans "view the code" %}</a>.</p>
	</div>
</div>


{% endblock %}
