{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<h1>{% trans "Frequently Asked Questions" %}</h1>

<div class="row">
	<div class="col-md-6">
		<p><b> This is a question title</b>
		<br> And this is the answer.</p>

		<p><b> This is a question title</b>
		<br> And this is the answer.</p>

		<p><b> This is a question title</b>
		<br> And this is the answer.</p>

		<br><br><br>

	</div>
	

	<div class="col-md-3">
		<b>Quick links to questions</b>
		<br><b>FAQ Question title 1</b>
		<br><b>FAQ Question title 2</b>
		<br><b>FAQ Question title 3</b>
	</div>
</div>


{% endblock %}
