{% extends "base.html" %}
{% block container %}

<div class="jumbotron">
    <div class="container">
        <h1>Help is near.</h1>
        <p class="tagline">Find food, clothing, and other resources in your area for undocumented minors.</p>
        
        {% if messages %}
          {% for message in messages %}
                <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                {{ message }}
                </div>
          {% endfor %}
        {% endif %}

        <form class="form-inline" role="form" method="post" action="resources/">
            {% csrf_token %}
            <div class="form-group">
                <label class="sr-only" for="zipcode">Zipcode</label>
                <input class="form-control" type="zipcode" placeholder="What is your zipcode?" name="zipcode">
            </div>
            <div class="form-group">
                <label class="sr-only" for="resource">Resource</label>
                <select class="form-control" name="resource">
                    <option value="" disabled selected>What do you need?</option>
                    <option value="Food">Food</option>
                    <option value="Clothing">Clothing</option>
                    <option value="Language">Language</option>
                    <option value="Transportation">Transportation</option>
                    <option value="Legal Services">Legal Services</option>
                    <option value="Medical Care">Medical Care</option>
                    <option value="Education/Enrollment">Education/Enrollment</option>
                    <option value="Religious Services">Religious Services</option>
                    <option value="Counseling">Counseling</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Find available resources</button>
        </form>
    </div>
</div>

<main class="container">
    <div class="row">
            <div class="col-md-4">
                <h2>I'm looking for help</h2>
                    <p>I'm caring for an undocumented minor and want to find help or resources near me.</p>
            <p><a class="btn btn-default" href="{% url 'resources' %}" role="button">Look for help near you»</a></p>
            </div>
            <div class="col-md-4">
                    <h2>I can help</h2>
                    <p>I'm an individual who wants to volunteer resources or items.</p>
                    <p><a class="btn btn-default" href="{% url 'resources' %}" role="button">Find drop-off points »</a></p>
            </div>
        <div class="col-md-4">
                    <h2>I'm an Organization</h2>
                    <p>I'm an organization with resources and want to register or update my information.</p>
                    <p><a class="btn btn-default" href="{% url 'organization_register' %}" role="button">Register or update »</a></p>
            </div>
    </div>

</main>

{% endblock %}