{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% block content %}

<section class="login-form">
    <div class="row">
        <div class="login-form--not-registered col-sm-5">
            <h2>{% trans "Not yet registered?" %}</h2>
            <p>{% trans "Register to list your organization's resources and contact information on Buscando." %}</p>
            <a class="btn btn-primary" href="{% url 'add_provider' %}" role="button">{% trans "Register" %}</a>
        </div>
        <div class="login-form--visible col-sm-5 col-sm-offset-2">
            <h2>{% trans "Organization Login" %}</h2>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <label>{% trans "Email" %}</label>
                    {% render_field form.username class+="form-control" %}
                </div>
                <div class="form-group">
                    <label>{% trans "Password" %}</label>
                    {% render_field form.password class+="form-control" %}
                </div>

                {% if form.errors %}
                <p class="is-error bg-danger">{% trans "Your email and/or password didn't match. Please try again." %}</p>
                {% endif %}

                <input type="submit" value="Login" class="btn btn-primary" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</section>

{% endblock %}
