{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}

<h1>{% trans "Privacy Statement" %}</h1>

<div class="row">
	<div class="col-md-6">

<p><br>{% blocktrans %}

        <p>Buscando respects the privacy of the individuals and organizations seeking or providing resources for Central American children seeking refuge in the United States, and has taken steps to ensure that these websites (http://buscando.io and http://buscandomaryland.com) and the information stored within is secure.</p>
        <p>In order to ensure that the confidentiality of personal information is protected and maintained, we are committed to conducting our business in accordance with the following principles:
          <ul>

      <li>Identify the purposes for which information is being collected, before or at the time of collecting personal information.</li>

      <li>Collect and use personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.</li>

      <li>Retain personal information only as long as necessary for the fulfillment of those purposes.</li>

      <li>Collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned.</li>

      <li>Protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.</li>

      <li>Make available to customers and users information about our policies and practices relating to the management of personal information.</li></ul></p>


      <p>We collect non-Personally Identifiable Information about the usage of this site and the resources sought. This information may be shared with service and resource providers, so they may allocate resources appropriately.</p>

      <p>We also collect contact information for volunteers, donors, and organizations. Volunteer and donor contact information may be shared with the service and resource provider organizations in need of the volunteer/donor offering. Organizational contact information may be shared with users of the site who search for services and resources provided by the organization.</p>

      <p>All data will be owned by Code for Progress (1220 L Street NW, Suite 100-513 Washington, DC, 20005, info@codeforprogress.org) and will not be sold, rented, shared, given, swapped, or transferred to any organization that does no provide direct services, support, or resources to Central American children seeking refuge, their families, or the families and organizations housing these children.</p>
 
<br><br><br>

      </div>


	{% endblocktrans %}



</div>
</div>


{% endblock %}
