{% extends "base.html" %}
{% load staticfiles %}

{% block container %}

<div class="row">
    <main class="col-md-8">
        <section class="filter">
            <h3>Search for a Resource</h3>
            <form role="form">
                <div class="form-group">
                    <label for="Zipcode" class="col-4 control-label">Zipcode</label>
                    <div class="col-sm-4">
                        <input type="zipcode" name="zipcode" class="form-control" placeholder="zipcode">
                    </div>
                </div>
                
                <br>

                <div class="checkbox">
                <label>
                    <input type="checkbox"> Food
                </label>
                <label>
                    <input type="checkbox"> Clothing
                </label>
                <label>
                    <input type="checkbox"> Legal Services
                </label>
                <label>
                    <input type="checkbox"> Transportation
                </label>
                <label>
                    <input type="checkbox"> Medical Care
                </label>

                <br>

                <label>
                    <input type="checkbox"> Education/Enrollment
                </label>
                <label>
                    <input type="checkbox"> Religious Services
                </label>
                <label>
                    <input type="checkbox"> Counseling
                </label>
            </form>
        </section>

        <section class="results">
            <ul>
                <li>
                    First sample result
                </li>
                <li>
                    Second sample result
                </li>
                <li>
                    Third sample result
                </li>
            </ul>
        </section>
    </main>
    <aside class="map" class="col-md-4">
        map map maps
    </aside>
</div>

{% endblock %}