{% extends "base.html" %}
{% load staticfiles %}

{% block container %}

<div class="row">
    <main class="col-md-8 col-md-offset-2">
        <section class="filter">
            <div class="row col-md-4">
            <h3 style="color: #fff;">Search for a Resource</h3>
            {% if messages %}
              {% for message in messages %}
                    <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                    {{ message }}
                    </div>
              {% endfor %}
            {% endif %}
            </div>
            <div class="col-md-8" style="padding-top: 1em;">
            <form class="form-inline" role="form" method="post" action="resources/">
                {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only" for="zipcode">Zipcode</label>
                    <input class="form-control" type="zipcode" placeholder="What is your zipcode?" name="zipcode">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="resource">Resource</label>
                    <select class="form-control" name="resource">
                        <option value="" disabled selected>What do you need?</option>
                        <option value="Food">Food</option>
                        <option value="Clothing">Clothing</option>
                        <option value="Language">Language</option>
                        <option value="Transportation">Transportation</option>
                        <option value="Legal Services">Legal Services</option>
                        <option value="Medical Care">Medical Care</option>
                        <option value="Education/Enrollment">Education/Enrollment</option>
                        <option value="Religious Services">Religious Services</option>
                        <option value="Counseling">Counseling</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info">Find available resources</button>
            </form>
            </div>
        </section>

        <section class="results">
            <ul>
                <li>
                    First sample result
                </li>
                <li>
                    Second sample result
                </li>
                <li>
                    Third sample result
                </li>
            </ul>
        </section>
    </main>
    <aside class="map" class="col-md-4">
        map map maps
    </aside>
</div>

{% endblock %}