{% extends "base.html" %}
{% load staticfiles %}

{% block container %}
{% load i18n %}
<main class="resource-form container-fluid">
    <div class="row">
        <div class="resource-form--filter-panel col-sm-6">
            <div class="resource-form--panel">
            <form class="form-horizontal" role="form" method="post">
                {% csrf_token %}
                <input type="hidden" name="page" value="resources.html">
                <input type="hidden" name="type" value="{{ type }}">

                <div class="form-group">
                    <label class="control-label col-sm-3" for="zipcode">{% trans "Location" %}</label>
                    <div class="col-sm-9">
                        <input id="location" class="form-control" type="text" placeholder="{% trans "Your location" %}" name="location" value="{{ location }}" data-toggle="tooltip" data-placement="bottom" title="{% trans "Address, City or ZIP Code" %}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3" for="resource">{% trans "Resources" %}</label>
                    <div class="col-sm-9">
                        <select class="resource-form--need form-control" data-placeholder="{% if type == 'volunteer' %}
                        {% trans "What can you give?" %} {% else %} {% trans "What do you need?" %}{% endif %}" name="resource">
                            <option></option>
                            <option value="Food" {% ifequal "food" resource.name %}selected="selected"{% endifequal %}>{% trans "Food" %}</option>
                            <option value="Clothing" {% ifequal "clothing" resource.name %}selected="selected"{% endifequal %}>{% trans "Clothing" %}</option>
                            <option value="Language" {% ifequal "language" resource.name %}selected="selected"{% endifequal %}>{% trans "Language" %}</option>
                            <option value="Transportation" {% ifequal "transportation" resource.name %}selected="selected"{% endifequal %}>{% trans "Transportation" %}</option>
                            <option value="Legal Services" {% ifequal "legal services" resource.name %}selected="selected"{% endifequal %}>{% trans "Legal Services" %}</option>
                            <option value="Medical Care" {% ifequal "medical care" resource.name %}selected="selected"{% endifequal %}>{% trans "Medical Care" %}</option>
                            <option value="Education and Enrollment" {% ifequal "education and enrollment" resource.name %}selected="selected"{% endifequal %}>{% trans "Education/Enrollment" %}</option>
                            <option value="Religious Services" {% ifequal "religious services" resource.name %}selected="selected"{% endifequal %}>{% trans "Religious Services" %}</option>
                            <option value="Counseling" {% ifequal "counseling" resource.name %}selected="selected"{% endifequal %}>{% trans "Counseling" %}</option>
                            <option value="Recreation" {% ifequal "recreation" resource.name %}selected="selected"{% endifequal %}>{% trans "Recreation" %}</option>
                             <option value="Volunteers" {% ifequal "volunteers" resource.name %}selected="selected"{% endifequal %}>{% trans "Volunteers" %}</option>
                        </select>
                    </div>
                </div>

                {% ifequal resource null %}
                <div class="col-xs-offset-3">
                    <button type="submit" class="btn btn-primary">{% if type == 'volunteer' %}{% trans "Give resources" %}{% else %}{% trans "Find available resources" %}{% endif %}</button>
                </div>
                {% endifequal %}
            </form>
            {% if messages %}
              {% for message in messages %}
                    <div id="message" class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}">
                    {{ message }}
                    </div>
              {% endfor %}
            {% endif %}

            {% if resource %} {# here, resource is a proxy for the form being submitted #}
            <div class="resource-form--results-label">
                {% if within_radius|length > 0 %}
                    {{ within_radius | length }} {% trans "locations found" %}
                {% else %}
                    {% if type != 'volunteer' %}
                        {% trans "We didn't find any results within " %} {{radius}} {% trans " miles, but you can call <a href='tel:211'>2-1-1</a> for more help." %} 
                    {% else %}
                        {% trans "No results found, but you can sign up as a volunteer." %}
                    {% endif %}
                {% endif %}
                {% if type == 'volunteer' %}
                    <a href="{% url 'add_volunteer' %}" class="btn btn-primary resource-form--register">{% trans "Sign up as a Volunteer" %}</a>
                {% endif %}
            </div>
            {% endif %}

            <section class="resource-form--results">
            {% for location_tuple in within_radius %}
            
                {% with location=location_tuple.0 distance=location_tuple.1 %}
                    <div class="resource-form--result">
                    <h3>{{ location.provider.name }}</h3>
                    {{ distance }} {% trans " miles from you" %}
                    <p><span class="glyphicon glyphicon-map-marker"></span>{{ location.address }}</p>
                    {% if location.phone %}
                        <p><span class="glyphicon glyphicon-earphone"></span><a href="tel:{{ location.phone }}">{{ location.phone }}</a></p>
                    {% endif %}
                    {% if location.hours_open %}
                        <p>Hours: {{ location.hours_open }}</p>
                    {% endif %}
                    {% if location.provider.url %}
                        <p><a href="{{ location.provider.url }}" target="_blank">{{ location.provider.url }}</a></p>
                    {% endif %}

                    {% for available in location.resources_available.all %}
                        {% if forloop.first %}
                            <p>{% if type == 'volunteer' %}{% trans "Resources needed" %}{% else %}{% trans "Resources available" %}{% endif %}</p>
                                <ul>
                        {% endif %}

                        <li>{% if available|title == "Food" %}{% trans "Food" %}{% elif available|title == "Clothing" %}{% trans "Clothing" %}{% elif available|title == "Transportation" %}{% trans "Transportation" %}{% elif available|title == "Language" %}{% trans "Language" %}{% elif available|title == "Legal Services" %}{% trans "Legal Services" %}{% elif available|title == "Medical Care" %}{% trans "Medical Care" %}{% elif available|title == "Education And Enrollment" %}{% trans "Education And Enrollment" %}{% elif available|title == "Religious Services" %}{% trans "Religous Services" %}{% elif available|title == "Counseling" %}{% trans "Counseling" %}{% elif available|title == "Recreation" %}{% trans "Recreation" %}{% elif available|title == "Volunteers" %}{% trans "Volunteers" %}{% else %}{{ available|title }}{% endif %}</li>

                        {% if forloop.last %}
                            </ul>
                        {% endif %}

                    {% endfor %}
                    </div>
                {% endwith %}
            {% endfor %}
            </section>
            </div>
        </div>
        
        <div class="resource-form--map-panel col-sm-6 hidden-xs" style="height: 100%;">
            <div id="map-canvas" class="img-responsive"></div>
        </div>
    </div>
</main>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwAJNgrVKvQmN_oHe6TxNx0nFdxLdUZag{% if LANGUAGE_CODE = "es" %}&language=es{% endif %}">
</script>
{% if search_from.latitude and search_from.longitude %}
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng({{ search_from.latitude }}, {{ search_from.longitude }}),
      zoom: 11
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    {% for location_tuple in within_radius %}
        {% with location=location_tuple.0 %}
            var marker{{ forloop.counter0 }} = new google.maps.Marker({
                position: new google.maps.LatLng({{ location.latitude }}, {{ location.longitude }}),
                map: map,
                title: "{{ location.provider.name }}"
            });

            var contentString{{ forloop.counter0 }} = '<b>{{ location.provider.name }}</b> <br>' +
            '{{ location.address }} <br>' +
            {% if location.phone %} 'Phone: <a href="tel:{{ location.phone }}">{{ location.phone }}</a><br>' + {% endif %}
            {% if location.hours %} 'Hours: {{ location.hours_open }} <br>' + {% endif %}
            '<a href="{{ location.provider.url }}">{{ location.provider.url }}</a><br>' +
                {% for available in location.resources_available.all %}
                
                    {% if forloop.first %}
                        '<b>Resources available</b><br> <ul>' +
                    {% endif %}

                    '<li>{{ available|title }}</li>' +

                    {% if forloop.last %}
                        '</ul>' +
                    {% endif %}

                {% endfor %}
            '';

            var infowindow{{ forloop.counter0 }} = new google.maps.InfoWindow({
                  content: contentString{{ forloop.counter0 }}
              });

            google.maps.event.addListener(marker{{ forloop.counter0 }}, 'click', function() {
                infowindow{{ forloop.counter0 }}.open(map,marker{{ forloop.counter0 }});
              });
          {% endwith %}
    {% endfor %}

    }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% else %}

<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: new google.maps.LatLng(38.912068, -77.0190228),
      zoom: 11
    };
    var map = new google.maps.Map(document.getElementById("map-canvas"),
        mapOptions);

    }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

{% endif %}

{% endblock %}
